{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Clases Individuales<br>
      </h2>

      <p class="service-description">
        Una clase completísima en donde aprenderás a dar el máximo placer a través del masaje tantrico. En la primera hora conocerás los conceptos básicos del tantra, comprenderás cómo funciona el cuerpo físico y energético del hombre y la mujer, como fluye la energía sexual en el ser humano y cómo estimular los sentidos.
        En la segunda media hora practicarás en el cuerpo de tu modelo las maniobras y movimientos corporales necesarios para transmitir relajación y excitación al mismo tiempo.
        Podrás adquirir las competencias necesarias para brindar múltiples sensaciones al otro a través del masaje Yoni o Lingam (masaje genital femenino o masculino).Al final de esta clase habrás desarrollado las destrezas necesarias para regalar placer, relajación y goce mediante los secretos del masaje tantrico.
        Recuerda que puedes traer a tu modelo o podemos gestionar la participación de alguien que lo haga, el costo de participación es de $15.000.-
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $100.000</p>
        <p><strong>Duración:</strong> 2 horas</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image">
    <img src="{% static 'core/img/clasesIndividuales.jpg' %}" alt="Clases individuales">
  </div>

</section>

{% endblock %}