{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Clases en Pareja<br>
      </h2>

      <p class="service-description">
        El masaje tántrico les ofrece beneficios como llevarlos a una nueva manera de vivir su sexualidad. Aprenden a acumular más energía en el cuerpeo, intensificando asi la experiencia sexual. Esto les proporciona nuevos niveles de placer y nuevas habilidades eróticas que sumaran a su calidad de vida y conexión físico-emocional.
        En esta sesión ambos aprenderán a dar a su pareja el máximo placer a través del masaje tántrico.
        En la primera hora, ambos conocerán los conceptos básicos del tantra, comprenderán como funciona el cuerpo físico y energético de su pareja y el propio.
        En la segunda media hora, practicaran en el cuerpo de su compañero o compañera, las maniobras y movimientos corporales necesarios para transmitir relajación y excitación al mismo tiempo.
        Podrán adquirir las competencias necesarias para brindar el máximo placer al otro a través del masaje tántrico y del masaje Yoni y Lingam (masaje genital femenino y masculino)
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $150.000</p>
        <p><strong>USD 150</strong>
        <p><strong>Duración:</strong> 3 horas</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image">
    <img src="{% static 'core/img/clasesParejas.jpg' %}" alt="Clases parejas">
  </div>

</section>

{% endblock %}