{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Tántrico Integración<br>
        <span>(Nivel 3)</span>
      </h2>

      <p class="service-description">
        El masaje tántrico te ofrece beneficios como llevarte a una nueva manera de lidiar con tu sexualidad. Aprendes a acumular mas energía en el cuerpo, intensificando así la experiencia de la sexualidad. Esto te proporciona nuevos niveles de placer y nuevas habilidades eróticas que sumas a tu calidad de vida. Es una experiencia recomendable para hombres, mujeres y parejas.
        Desde los pies hacia la espalda en maniobras largas y envolventes que transmiten sensación de unidad, totalidad corporal y relajación mental.
        Integración. Se incorporan deslizamientos corporales con una especial delicadeza que transmite sensaciones de armonía y unidad. El contacto piel a piel, suave y tibio, el roce sutil y la respiración consciente generan un estímulo totalizado.
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $90.000</p>
        <p><strong>Duración:</strong> 1 hora</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image hero-nv3">
    <img src="{% static 'core/img/masajeHombres3.jpg' %}" alt="Tantra Nivel 3">
  </div>

</section>

{% endblock %}