{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Masaje Yoni<br>
        <span>(Nivel 2)</span>
      </h2>

      <p class="service-description">
        Es un masaje superficial que inicia con suaves movimientos sobre toda la extensión del cuerpo femenino, para luego concentrarse en torso y vientre, sutilmente, para comenzar a estimular el área genital, siempre de manera superficial, con movimientos suaves y envolventes que abarcan labios mayores, menores y clítoris.
        A través del masaje genital, el cuerpo y la mente se relajan, se abren a nuevas sensaciones y profundizan en el auto conocimiento. Favoreciendo y mejorando con ello la autoestima, el equilibrio emocional, la salud y la receptividad sexual de quien lo recibe.
        Durante todo el masaje se trata de mantener niveles intensos de placer sin llegar rápidamente al clímax, es decir, cuando la excitación llega a un punto muy elevado y se está al borde del orgasmo, se disminuye la estimulación para volver a comenzar a subir, una y otra vez, hasta alcanzar oleadas de orgasmos. Es importante el control de la respiración, profunda, consciente y relajada, así como la disposición para el disfrutar al máximo de la experiencia.
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $70.000</p>
        <p><strong>Duración:</strong> 1 hora</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image hero-nv2">
    <img src="{% static 'core/img/masajeMujeres2.jpg' %}" alt="Tantra Nivel 1">
  </div>

</section>

{% endblock %}