{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Masaje Simultáneo en Pareja<br>    
      </h2>

      <p class="service-description">
        Una sesión en pareja, que se desarrolla en perfecta sincronía. Cada uno contará con su terapeuta, hombre o mujer según comodidad de cada uno.
        Podrán escoger de manera individual que masaje experimentar, no obstante, ambos compartirán el mismo espacio físico, por lo que tendrán oportunidad de presenciar el proceso del otro.
        El masaje tántrico les ofrece beneficios como llevarlos a una nueva manera de vivir su sexualidad. Aprenden a acumular más energía en el cuerpo, intensificando así la experiencia sexual. Esto les proporciona nuevos niveles de placer y nuevas habilidades eróticas que sumarán a su calidad de vida, así también contribuyendo a la conexión física y emocional, además de convertirse en cómplices de una aventura en pareja.
      </p>
      <p class="service-description2">
        (Revise los precios de los niveles individuales) 
          El costo total de la sesión es la suma de las opciones que cada uno elija, según clases individuales
      </p>

      <div class="service-info">
        <p><strong>Nivel 1:</strong> $120.000</p>
        <p><strong>Nivel 2:</strong> $150.000</p>
        <p><strong>Nivel 3:</strong> $200.000</p>
        <p><strong>Duración:</strong> 2 horas y 30 minutos</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image">
    <img src="{% static 'core/img/masajeParejasSimultáneo.jpg' %}" alt="Masaje parejas simultáneo">
  </div>

</section>

{% endblock %}