{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Masaje Lingam<br>
        <span>(Nivel 2)</span>
      </h2>

      <p class="service-description">
        La sesión consiste en un masaje envolvente de cuerpo completo, iniciando desde los pies con dirección a la cabeza.
        En un principio rodeando la zona genital, para finalizar concentrándose directamente en ella. Se aplican suaves y variadas maniobras en el perineo, testículos, tronco y glande.
        No confundir el masaje lingam con la masturbación, puesto que el orgasmo y la eyaculación pudiendo ocurrir naturalmente, no son el objetivo principal de la experiencia. Es por eso que el masaje no emplea movimientos bruscos ni fricciones desmedidas.
        Es efectivo para entrenar el control eyaculatorio, propicio para concretar cuerpo y mente, además de distribuir y restablecer la energía vital.
        Las zonas del cuerpo donde se aplica el masaje son: espalda, cuello, zona lumbar, glúteos, brazos, piernas, torso, manos, pies y rostro.
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $70.000</p>
        <p><strong>Duración:</strong> 1 hora</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image hero-nv2">
    <img src="{% static 'core/img/masajeHombres2.jpg' %}" alt="Tantra Nivel 2">
  </div>

</section>

{% endblock %}