{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service-content">
      <h2>
        Guiado Tántrico<br>    
      </h2>

      <p class="service-description">
        En esta sesión ambos aprenderán a dar a su pareja el máximo placera través del masaje tantrico.
        La masajista les irá guiando en todo momento con una especial delicadeza y generando un ambiente de relajación y exploración.
        Ambos vivirán múltiples sensaciones en toda la extensión corporal incluyendo la zona genital de ambos a través del masaje Yoni (masaje genital femenino) y masaje Lingam (masaje genital masculino), siempre y cuando esto sea a libre elección de cada participante.
      </p>

      <div class="service-info">
        <p><strong>Precio:</strong> $120.000</p>
        <p><strong>Duración:</strong> 1 hora 30 minutos</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image">
    <img src="{% static 'core/img/masajeGuiado.jpg' %}" alt="Masaje parejas guiado">
  </div>

</section>

{% endblock %}