{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="service2-detail">

  <div class="service2-text">
    <div class="service2-content">
      <h2>
          Taller de Sexualidad Tántrica<br>
      </h2>

      <p class="service2-description">
       Una clase para que te familiarices con los conceptos y contenidos que te harán ampliar tu visión de la sexualidad, derribaremos mitos y comprenderá porque durante el sexo no solamente intercambiamos placer, si no que hay mucho mas detrás de ese acto
        Como es que el sexo con determinada persona te puede elevar o desequilibrar en términos energéticos que incluso puede manifestarse a nivel físico.
        Después de este taller no volverás a ver tu sexualidad con los mismos ojos
      </p>

      <div class="service2-info">
        <p><strong>Precio:</strong> $60.000</p>
        <p><strong>Duración:</strong> 1 hora</p>
      </div>

      <a href="#reserva" class="btn-reserva">
        Reserva tu hora aquí →
      </a>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="hero-image">
    <img src="{% static 'core/img/tallerSexualidad.jpg' %}" alt="Taller Sexualidad Tántrica">
  </div>

</section>

{% endblock %}